parameters:
    filename: vstup.txt
    searchUri: https://www.czc.cz/|code|/hledat
    searchTerm: |code|
    filterPrice: 'substring-before(substring-after(string(//div[@class=''new-tile'']/@data-ga-impression), ''price":''), '',"quantity'')'
    filterRating: 'substring-before(substring-after(string(//div[@class=''new-tile'']//span[@class=''rating'']/@title), '': ''), '' %'')'
    filterName: 'substring-before(substring-after(string(//div[@class=''new-tile'']/@data-ga-impression), ''name":"''), ''","position'')'

services:
	dispatcher: 
		factory: HPT\Product\ProductGrabber(%searchUri%, %searchTerm%)
		setup: 
		    - setFilterPrice(%filterPrice%)
		    - setFilterRating(%filterRating%)
		    - setFilterName(%filterName%)
	- HPT\Product\ProductOutput
	- HPT\Product\ProductDispatcher(%filename%)
